body{margin:0;font-family:Arial;}
.dark{background:#0B0F19;color:#fff;height:100vh;}
.center{display:flex;justify-content:center;align-items:center;}
.card{background:#111;padding:20px;border-radius:10px;}
input{width:100%;padding:10px;margin:10px 0;}
button{padding:10px;}
.app{padding:20px;}
.nav{position:fixed;bottom:0;width:100%;display:flex;justify-content:space-around;background:#fff;}
